@using Queridometro.WebApp.MVC
@model IList<Queridometro.WebApp.MVC.Models.ParticipantViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="flex-container" id="bbb-box">
    @{
        foreach (var participant in Model.OrderBy(p => p.nome))
        {
            <div class="single-card">
                <a href="/Participant?id=@participant._id"> @participant.nome </a>
                @if (participant.emojis != null)
                {
                    foreach (var emoji in participant.emojis)
                    {
                        switch (emoji)
                        {
                            case Queridometro.Core.Entities.Emoji.Cobra:
                                <span>🐍</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Nojo:
                                <span>🤮</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Feliz:
                                <span>🙂</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Triste:
                                <span>🙁</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Bomba:
                                <span>💣</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Coração:
                                <span>❤</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.CoraçãoQuebrado:
                                <span>💔</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Banana:
                                <span>🍌</span>
                                break;
                            case Queridometro.Core.Entities.Emoji.Planta:
                                <span>🌱</span>
                                break;
                            default:
                                break;
                        }
                    }
                }
                <br />
            </div>
        }
    }
</div>